body {background:orange;}  h1{ color:rgb(0, 0, 0);} p{ background:white;} body{ font-size:30px; } body{background:url(../imagenes/templo.jfif) ;}            
h6{background:white ;}   h1{background:white ;} h3{background:white ;} 
    
    
    
    
    



















